body {
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  background: rgb(3,12,28);
  background-size: cover;
}

.logo {
  display: block;
  position: absolute;
  top: 25%;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
  width: 50vw;
  height: auto;
  font-family: "Broadway";
  font-size: 16vw;
  white-space: nowrap;
  text-align: center;
}
.logo span {
  display: block;
  position: relative;
  -webkit-transform: translateZ(0) translate3D(0, 0, 0);
          transform: translateZ(0) translate3D(0, 0, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  will-change: opacity;
  margin: 0px;
  right: 0px;
  left: 0px;
}
.logo .open {
  color: #ffffff;
  --clr1: #4d09d3;
  text-shadow: 0 0 0 transparent, 0 0 10px var(--clr1), 0 0 20px rgba(0, 0, 0, 0.5), 0 0 40px var(--clr1), 0 0 100px var(--clr1), 0 0 200px var(--clr1), 0 0 300px var(--clr1), 0 0 500px var(--clr1), 0 0 1000px var(--clr1);
  -webkit-animation: blink 4s infinite alternate;
          animation: blink 4s infinite alternate;
}
.logo .hrs {
  font-size: 11vw;
  color: #d4eaff;
  --clr2: rgb(255, 38, 38);
  bottom: -100px;
  text-shadow: 0 0 0 transparent, 0 0 10px var(--clr2), 0 0 20px rgba(255, 0, 0, 0.5), 0 0 40px var(--clr2), 0 0 100px var(--clr2), 0 0 200px var(--clr2), 0 0 300px var(--clr2), 0 0 500px var(--clr2), 0 0 1000px var(--clr2);
  -webkit-animation: blink 2s infinite alternate;
          animation: blink 2s infinite alternate;
}


@keyframes buzz {
  70% { opacity: 0.80; }
}
@keyframes blink {
  40% { opacity: 1; }
  42% { opacity: 0.8; }
  43% { opacity: 1; }
  45% { opacity: 0.2; }
  46% { opacity: 1; }
}

@media screen and (min-width: 1000px) {
  .logo {
    width: 400px;
    font-size: 150px;
  }
  .logo .hrs { font-size: 103px; }
}

@-webkit-keyframes buzz {
  70% {
    opacity: 0.80;
  }
}

@keyframes buzz {
  70% {
    opacity: 0.80;
  }
}
@-webkit-keyframes blink {
  40% {
    opacity: 1;
  }
  42% {
    opacity: 0.8;
  }
  43% {
    opacity: 1;
  }
  45% {
    opacity: 0.2;
  }
  46% {
    opacity: 1;
  }
}
@keyframes blink {
  40% {
    opacity: 1;
  }
  42% {
    opacity: 0.8;
  }
  43% {
    opacity: 1;
  }
  45% {
    opacity: 0.2;
  }
  46% {
    opacity: 1;
  }
}
@media screen and (min-width: 1000px) {
  .logo {
    width: 600px;
    font-size: 150px;
  }

  .logo .hrs {
    font-size: 103px;
  }
}
