body
{
    margin: 0px;
    padding: 0px;
}

.backdrop
{
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;

    background-image: url(../IMG/loadscreen.jpg);
    background-size: 100% 100%;
}

.bottom
{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 100%;
}

#gradient
{
    position: absolute;
    bottom: 0px;
    width: 100%;

    height: 25%;

    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
}

h1, h2 {
  position: relative;
  background: transparent;
  z-index: 0;
}
/* add a single stroke */
h1:before, h2:before {
  content: attr(title);
  position: absolute;
  -webkit-text-stroke: 0.1em #000;
  left: 0;
  z-index: -1;
}


.letni
{
    position: absolute;
    left: 5%;
    right: 5%;
    bottom: 10%;

    z-index: 5;

    color: #fff;

    font-family: "Segoe UI";
}

.letni p
{
    font-size: 22px;

    margin-left: 3px;

    margin-top: 0px;
}

.letni h2, .letni h3
{
    font-family: Bahnschrift;

    text-transform: uppercase;

    font-size: 50px;

    margin: 0px;

    display: inline-block;
}

.loadbar
{
    width: 100%;
    background-color: rgb(39 29 100);
    height: 20px;

    margin-left: 2px;
    margin-right: 3px;

    margin-top: 5px;
    margin-bottom: 5px;

    overflow: hidden;

    position: relative;

    display: block;
}

.thingy
{
    width: 10%;
    background-color: #bb0d31;
    height: 20px;

    position: absolute;
    left: 10%;
}


.wave
{
    position:fixed;
    right:-80em;
    bottom:-110em;
    background:#130f41;
    width:150em;
    height:145em;
    transform-origin:50% 48%;
    border-radius:43%;
    animation:drift 30000ms infinite linear
}

.wave.-three
{
    animation:drift 50000ms infinite linear
}

.wave.-two
{
    animation:drift 70000ms infinite linear;
    opacity:.1;
    background:#2a255d
}

@keyframes drift{
    
    from
    {
        transform:rotate(0deg)
    }
    
    from
    {
        transform:rotate(360deg)
    }
}